@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900;
}

a {
  @apply text-brand-600 hover:text-brand-700 transition;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  @apply ring-2 ring-brand-300 outline-none;
}
